.container {
  width: 100%;
  padding-left: 20px;
  padding-bottom: 16px;
  padding-top: 74px;
  @include displayFlex(row, flex-start, center, 16px);
  list-style: none;
}

.header {
  @include title3;
  color: $neutral-500;
  &.active {
    color: $black;
  }
}
